strong.name {
  color:#39c;
  text-decoration:none;
  font-size: 1.1em;
}

b.linkcolor {
  color:#39c;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0em; /* Remove padding */
  margin: 1em; /* Remove margins */
}

a:hover{
font-weight:bold;
/*text-decoration:underline;*/
}

a.menu {
  font-weight:normal;
  font-size: 0.75em;
/*  color:#222;*/
}

.menu {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.menu:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.menu:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


/* Basic styles for the list */
.publications-list {
  list-style: none;          /* Remove default bullets */
  padding-left: 0;           /* Remove default padding */
  max-width: 600px;          /* Optional: Limit the width */
}

/* Style each list item */
.publications-list li {
  position: relative;        /* Establish a positioning context for the pseudo-element */
  padding-left: 50px;        /* Space for the custom label */
}

/* Add the custom [Jx] label before each list item */
.publications-list li::before {
  content: "[" attr(data-number) "]"; /* Use the data-number attribute */
  position: absolute;        /* Position the label absolutely within the list item */
  left: 0;                   /* Align to the left */
  top: 0;                    /* Align to the top */
  font-weight: bold;         /* Make the label bold */
  font-size: 0.8em;        /* Reduce font size */
  background-color: #ecf0f1; /* Background color for better visibility */
  padding: 2px 6px;         /* Padding around the label */
  border-radius: 4px;        /* Rounded corners */
}
