strong.name {
  color:#39c;
  text-decoration:none;
  font-size: 1.1em;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0em; /* Remove padding */
  margin: 1em; /* Remove margins */
}

a:hover{
font-weight:bold;
/*text-decoration:underline;*/
}

a.menu {
  font-weight:normal;
  font-size: 0.75em;
/*  color:#222;*/
}

.menu {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.menu:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.menu:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}